.navbar {
    border-block-end: 1px solid #000;
    transition: background .22s cubic-bezier(.2, 0, 0, 1);
    position: sticky;
    top: 0;
    z-index: 200;
}

.navbar .logo img {
    width: auto;
    height: 42px;
}

.navbar .logo span {
    border-inline-start: 1px solid #595350;
}

.navbar .nav-links li a.active,
.navbar .nav-links li a:hover {
    padding: 7px 12px;
    background-color: var(--bg_secondary);
    color: var(--text_main);
    border-radius: 15px;
}

@media (max-width: 768px) {
    .navbar .nav-links {
        border-block-start: 1px solid #3f3a37;
        padding-block-start: 10px !important;
        margin-block-end: 0px;
    }
}

@media (max-width: 575.98px) {
    .navbar .nav-links {
        overflow-x: auto;
        flex-wrap: nowrap;
        justify-content: flex-start;
        white-space: nowrap;
        scrollbar-width: none;
        border-block-start: 1px solid #3f3a37;
        padding-block-start: 5px;
    }

    .navbar .nav-links::-webkit-scrollbar {
        display: none;
    }

    .navbar .nav-links li {
        flex: 0 0 auto;
    }
}

.navbar .search {
    width: 255px;
}

.navbar .search-dropdown {

    border: 1px solid var(--bg_secondary);
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.navbar .search .search-input {
    padding-inline: 36px 10px;
}

.navbar .search-input:focus {
    border: 2px solid var(--identity_color) !important;
    outline: none;
}

.navbar .right-nav .icon {
    width: 36px;
    height: 36px;
    border: 1px solid var(--text_secondary);
    cursor: pointer;
}

.navbar .right-nav .icon:hover {
    border: 1px solid var(--text_secondary) !important;
    transition: all ease-in-out 0.3s;
    background-color: var(--bg_secondary);
}

/* search dropdown result */
.result-card {
    cursor: pointer;
}

.result-card:hover {
    background-color: var(--bg_secondary);
}

.result-card img {
    width: 60px;
    height: 50px;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 5px;
}