@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;600;700&display=swap");

:root {
  --identity_color: #b15903;
  --bg_main: #ffffff;
  --bg_secondary: #faf6f3;
  --text_main: #262220;
  --text_secondary: #595350;
  --fs-24-30: 1.5rem;
  --fs-24: 1.5rem;
  --fs-18: 1.125rem;
  --fs-16: 1rem;
  --fs-14: 0.875rem;
  --fs-12: 0.75rem;
}
@media (min-width: 720px) {
  :root {
    --fs-24-30: 1.875rem;
  }
}
[data-bs-theme="dark"] {
  --identity_color: #fe9141;
  --bg_main: #161311;
  --bg_secondary: #1e1b19;
  --text_main: #f6f3ec;
  --text_secondary: #b6afab;
}

[lang="en"] body {
  font-family: "Google Sans Flex", sans-serif;
}

[lang="ar"] body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

body {
  background-color: var(--bg_main);
  margin: 0;
}

/* custom classes */
.theme_bg_identity {
  background-color: var(--identity_color);
}
.theme_text_identity {
  color: var(--identity_color);
}
.theme_bg_main {
  background-color: var(--bg_main);
}
.theme_bg_secondary {
  background-color: var(--bg_secondary);
}
.theme_text_main {
  color: var(--text_main);
}
.theme_text_secondary {
  color: var(--text_secondary);
}
.footer_main_color {
  color: #f6f3ec;
}
.footer_secondary_color {
  color: #f6f3ecb8;
}
/* font sizes  */
.custom-fs-24-30 {
  font-size: var(--fs-24-30) !important;
}
.custom-fs-24 {
  font-size: var(--fs-24) !important;
}
.custom-fs-18 {
  font-size: var(--fs-18) !important;
}
.custom-fs-16 {
  font-size: var(--fs-16) !important;
}
.custom-fs-14 {
  font-size: var(--fs-14) !important;
}
.custom-fs-12 {
  font-size: var(--fs-12) !important;
}
